<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Chapter22</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ImageCodeMakerServlet</servlet-name>
    <servlet-class>ex22_06_1.ImageCodeMakerServlet</servlet-class>
  </servlet><servlet>
  	<servlet-name>QueryDBServlet</servlet-name>
  	<servlet-class>ex22_06_2.QueryDBServlet</servlet-class>
  	<init-param>
  		<param-name>db</param-name>
  		<param-value>test</param-value>
  	</init-param>
  	<init-param>
  		<param-name>user</param-name>
  		<param-value>root</param-value>
  	</init-param>
  	<init-param>
  		<param-name>pwd</param-name>
  		<param-value>11235813</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageCodeMakerServlet</servlet-name>
    <url-pattern>/servlet/getImageCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QueryDBServlet</servlet-name>
  	<url-pattern>/servlet/queryDB</url-pattern>
  </servlet-mapping>
  
</web-app>